html {
	/* background-image: linear-gradient(136deg, rgb(17 18 24) 0%, rgb(1 0 3) 57%); */
	color: #fff;
}

body {
	margin: 0;
	line-height: 1.5;
	min-height: 100vh;
}
footer{
	display:none;
	/* hide footer, not ready yet */
	position: absolute;
	bottom: 0;
}
/* place holder, delete this later, will fill body anyway */
/* body { */
/* 	height: 50em; */
/* } */


/* reconsider later */
* {
	font-family: "Montserrat";
} 
nav {
    position: relative;
    margin: 0.5em;
    margin-inline: 2em;
    height: 1.5em;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}
