---
import BaseLayout from "../layouts/BaseLayout.astro";

// === Imports ===
---

<BaseLayout pageTitle="Portfolio">


	<!-- This probably was reinventing Astro's wheel, shall reconsider. -->
	<!-- Cant use .prop on client side js right? -->
	<div id="clipbasket_board">
		<!-- all this css has  to be cleaned, or merged into global by class and roles. -->
		<span style="font-size: clamp(10px,2vh,2rem); margin-inline: 1em" >clip basket</span>
		<span id="clipbasket_copy" style="cursor: pointer; font-size: clamp(10px,2vh,2rem); float: inline-end; margin-inline: 1em">copy</span>
	</div>
</BaseLayout>

<style>
	#clipbasket_board {
		top: 100%;
		height: 20vh;
		z-index: 1000;
		position: fixed;
		width: 90vw;
		background: black;
		/* border-radius: 10px; */
		justify-self: center;
		border-top: 5px solid rgb(17 18 24);
		transition: 0.4s;
	}

	.clipbasket-links {

		height: 80%;
		width: 100%;
		overflow: hidden;
		overflow-block: scroll;
	}
	.gallery {
		display: block;
		position: relative;
		width: 90%;
		/* outline: 2px solid red; */
		justify-self: center;
	}
</style>
<style is:global>
	footer {
		/* shit is broken with everything on  position absolute */
		display: none;
	}
</style>
