---
import Options from "./Options.astro";
---

<div style="height: 75%;display: inline-flex; align-items: center;">
	<Options />
</div>
<style>
	a,
	img {
		height: 100%;
	}

	a {
		margin-inline: 10px;
	}
</style>
