---
import "../styles/global.css";
import Header from "./Header.astro";
import Options from "./Options.astro";
---

<!-- assuming this is the base layout with the least need of slots -->
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
	</head>

	<body>
		<div class="background"></div>
		<Header>
			<div slot="socials" style="height: 75%;display: inline-flex; justify-content: end;">
				<Options/>
			</div>
		</Header>
		<div class="base-layout-div">
			<slot> BaseLayout (a default text) </slot>
		</div>
	</body>
</html>

<style>
	.background {
		z-index: -100;
		height: 100%;
		position: fixed;
		background-image: linear-gradient(
			136deg,
			rgb(17 18 24) 0%,
			rgb(1 0 3) 57%
				);
	}
	div {
		width: 100%;
		height: auto;
	}
</style>
